.aws-btn {
  --button-default-height: 51px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 2px;
  --button-horizontal-padding: 21px;
  --button-raise-level: 3px;
  --button-hover-pressure: 1;
  --transform-speed: 0.175s;
  --button-primary-color: #a6cff6;
  --button-primary-color-dark: #325da5;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #187bd1;
  --button-primary-border: none;
  --button-secondary-color: #fefefe;
  --button-secondary-color-dark: #cde2f3;
  --button-secondary-color-light: #6ca0c5;
  --button-secondary-color-hover: #dae4ec;
  --button-secondary-border: 0px solid #9dacb9;
  --button-anchor-color: #b8dfef;
  --button-anchor-color-dark: #abcff7;
  --button-anchor-color-light: #ffffff;
  --button-anchor-color-hover: #abcff7;
  --button-anchor-border: 0px solid #ffffff;
}
